@use "../../../styles/globals";
@use "../../../styles/box";

.validateBtn {
    color: globals.$white !important;
    background-color: globals.$ua_blue !important;
    font-weight: bold;

    &:hover {
        color: globals.$black !important;
    }
}
