<template>
    <div class="box">
        <div class="box__title">
            <h2>{{ this.$t("ADMIN_ADD_TITLE") }}</h2>
        </div>
        <v-form ref="form" class="box__body" v-model="valid">
            <v-row class="pa-5">
                <v-col cols="3">
                    <v-select
                        :label="this.$t('ADMIN_ADD_USER')"
                        v-model="user"
                        :items="allUsers"
                        item-text="username"
                        item-value="id"
                        :menu-props="{ bottom: true, offsetY: true }"
                        dense
                        outlined
                        required
                        clearable
                    ></v-select>
                </v-col>

                <v-col cols="3">
                    <v-select
                        :label="this.$t('ADMIN_ADD_FORMATION')"
                        v-model="formation"
                        :items="allFormations"
                        item-text="name"
                        item-value="id"
                        v-on:change="setCoursesByFormationId()"
                        :menu-props="{ bottom: true, offsetY: true }"
                        :disabled="isUserNull"
                        dense
                        outlined
                        required
                        clearable
                    ></v-select>
                </v-col>

                <v-col cols="3">
                    <v-select
                        :label="this.$t('ADMIN_ADD_COURSE')"
                        v-model="course"
                        :items="allCourses"
                        item-text="name"
                        item-value="id"
                        :menu-props="{ bottom: true, offsetY: true }"
                        :disabled="isFormationNull"
                        dense
                        outlined
                        required
                        clearable
                    ></v-select>
                </v-col>

                <v-col cols="0"></v-col>

                <v-col>
                    <v-btn
                        :disabled="!valid"
                        class="validateBtn"
                        @click="validate"
                    >
                        <v-icon>mdi-plus-thick</v-icon>&nbsp;
                        {{ this.$t("ADMIN_ADD_ADD_BUTTON") }}
                    </v-btn>
                </v-col>
            </v-row>
            <div
                class="center"
                v-if="
                    displayMessageError !== '' || displayMessageSuccess !== ''
                "
            >
                <p
                    :class="{
                        displayError: displayMessageError,
                        displaySuccess: displayMessageSuccess,
                    }"
                    v-html="
                        displayMessageSuccess
                            ? displayMessageSuccess
                            : displayMessageError
                    "
                ></p>
            </div>
        </v-form>
    </div>
</template>

<script>
import { getAllUsers } from "@/services/api/users.js";
import { getAllFormations } from "@/services/api/formations.js";
import { getCoursesByFormationId } from "@/services/api/courses.js";
import { addRight } from "@/services/api/rights.js";
import { getUser } from "@/services/api/users.js";
import { UPDATE_USER } from "@/store/actions.type";

export default {
    data() {
        return {
            valid: false,
            user: "",
            formation: "",
            course: "",
            displayMessageError: "",
            displayMessageSuccess: "",
            allUsers: [],
            allFormations: [],
            allCourses: [],
        };
    },
    computed: {
        isFormationNull() {
            return this.formation === null || this.formation === "";
        },
        isUserNull() {
            return this.user === null || this.user === "";
        },
    },
    methods: {
        async setAllUsers() {
            const req = await getAllUsers();
            this.allUsers = await req.json().then((data) => {
                return data;
            });
        },

        async setAllFormations() {
            const req = await getAllFormations();
            this.allFormations = await req.json().then((data) => {
                return data;
            });
        },

        async setCoursesByFormationId() {
            if (this.formation != "") {
                const params = {
                    formationId: this.formation,
                };
                const req = await getCoursesByFormationId(params);
                this.allCourses = await req.json().then((data) => {
                    return data;
                });
            }
        },

        deleteMessage() {
            setTimeout(() => {
                this.displayMessageSuccess = "";
                this.displayMessageError = "";
            }, 3000);
        },

        async validate() {
            const right = {
                user_id: this.user,
                course_id: this.course,
            };

            const req = await addRight(right);
            let userReq;
            let userRes;
            switch (req.status) {
                case 200:
                    this.displayMessageSuccess = this.$t("ADMIN_ADD_SUCCESS");

                    userReq = await getUser();
                    userRes = await userReq.json().then((data) => {
                        return data;
                    });

                    await this.$store.dispatch(UPDATE_USER, {
                        user: userRes,
                    });

                    this.$emit("clicked", "refreshRights");

                    this.deleteMessage();
                    break;
                case 401:
                    this.displayMessageError = this.$t(
                        "ADMIN_ADD_UNAUTHORIZED"
                    );
                    this.deleteMessage();
                    break;
                case 404:
                    this.$router.push({ name: "404 Not Found" });
                    break;
                case 409:
                    this.displayMessageError = this.$t("ADMIN_ADD_DB_CONFLICT");
                    this.deleteMessage();
                    break;
                case 500:
                    this.displayMessageError = this.$t(
                        "ADMIN_ADD_ERROR_OCCURED"
                    );
                    this.deleteMessage();
                    break;
                default:
                    this.displayMessageError = this.$t(
                        "ADMIN_ADD_ERROR_OCCURED"
                    );
                    this.deleteMessage();
            }
        },
    },
    async mounted() {
        await this.setAllUsers();
        await this.setAllFormations();
    },
};
</script>

<style lang="scss">
@import "AddRights.style";
</style>
