@use "../../../styles/globals.scss";

.timeDivision {
    text-align: center;

    &__title {
        font-size: 1.2em;
        font-weight: bold;
        display: flex;
        align-items: center;
        text-align: left;
        margin-bottom: 10px;
    }

    &__btn {
        background-color: transparent;
        border: solid 2px globals.$warning;
        color: globals.$warning;
        padding: 15px;
        letter-spacing: 1px;
        font-weight: bold;
        font-size: 0.8em;

        &__icon {
            margin-right: 5px;
        }

        &:hover {
            background-color: globals.$warning;
            color: globals.$white;
            font-weight: bolder;
        }
    }
}

.tooltipBtn {
    margin-left: 10px;

    &:hover {
        cursor: pointer;
        color: globals.$light_ua_blue !important;
    }
}
