<template>
    <div class="timeDivision">
        <p class="timeDivision__title">
            Vous pouvez modifier le découpage horaire de cette matière si vous
            le souhaitez.
            <v-icon class="tooltipBtn" color="blue darken-1" large>
                mdi-information
            </v-icon>
        </p>
        <v-btn class="timeDivision__btn" outlined @click="redirectTimeDivision">
            <v-icon class="timeDivision__btn__icon">
                mdi-clock-time-four-outline
            </v-icon>
            {{ this.$t("SP_TIMEDIVISION") }}
        </v-btn>
    </div>
</template>

<script>
export default {
    name: "TimeDivision",
    methods: {
        redirectTimeDivision() {
            this.$router.push({ name: "TimeDivision" });
        },
    },
};
</script>
<style lang="scss" scoped>
@import "TimeDivision.style";
</style>
