@use "../../styles/globals.scss";

.header {
    background-color: globals.$darker-white;
    height: 70px;
    padding: 10px;
    border-bottom: solid 2px globals.$lightgrey;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
    width: 100%;

    &__title {
        height: 100%;
        display: flex;
        align-items: center;

        img {
            height: 40px;
            object-fit: contain;
        }

        .title {
            margin: auto;
            margin-left: 20px;
            font-weight: bold;
        }

        &:hover {
            background-color: globals.$lightgrey;
            border-radius: 5px;
            cursor: pointer;
        }
    }

    &__state {
        display: flex;
        align-items: center;

        &__user {
            margin-right: 20px;
        }

        &__buttons {
            display: flex;
            align-items: center;

            .btn {
                margin-left: 20px;
                font-size: 1.3em;
                display: flex;
                align-items: baseline;
                cursor: pointer;

                &:hover {
                    color: globals.$ua_blue;
                }

                &--block {
                    width: 150px;
                    padding: 5px;
                    border-radius: 5px;
                    justify-content: center;

                    &:hover {
                        color: globals.$black;
                    }
                }

                &--primary {
                    background-color: globals.$ua_blue;
                    color: globals.$white;
                }

                &--secondary {
                    background-color: globals.$white;
                    color: globals.$ua_blue;
                    border: solid 2px globals.$ua_blue;
                }

                i {
                    color: globals.$ua_blue;
                    margin-right: 7px;
                    font-size: 1.1em;
                }
            }
        }
    }
}
