<template>
    <div class="header">
        <div class="header__title" @click="redirect('Home')">
            <img
                src="../../assets/images/logo_ua.png"
                alt="Logo Université Angers"
            />
            <p class="title">{{ $t("APP_NAME") }}</p>
        </div>
        <div class="header__state">
            <span v-if="isUserConnected" class="header__state__user"
                >{{ $t("HEADER_LOGGEDIN") }} : {{ user.username }}</span
            >
            <div class="header__state__buttons">
                <div
                    v-if="isUserConnected && isUserAdmin"
                    class="btn accessRights"
                    @click="redirect('Admin')"
                >
                    <i class="fas fa-key"></i>
                    <span>{{ $t("HEADER_ACCESSRIGHTS") }}</span>
                </div>
                <div
                    v-if="isUserConnected"
                    class="btn profile"
                    @click="redirect('Profile')"
                >
                    <i class="fas fa-user"></i>
                    <span>{{ $t("HEADER_PROFILE") }}</span>
                </div>
                <div
                    v-if="isUserConnected"
                    class="btn disconnection"
                    @click="disconnect"
                >
                    <i class="fas fa-sign-out-alt"></i>
                    <span>{{ $t("HEADER_LOGOUT") }}</span>
                </div>
                <div
                    v-if="!isUserConnected"
                    class="btn btn--block btn--secondary"
                    @click="redirect('Register')"
                >
                    <span>{{ $t("HEADER_SIGNIN") }}</span>
                </div>
                <div
                    v-if="!isUserConnected"
                    class="btn btn--block btn--primary"
                    @click="redirect('Login')"
                >
                    <span>{{ $t("HEADER_LOGIN") }}</span>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import { mapGetters } from "vuex";
import { logout } from "@/services/api/users.js";
import { LOGOUT } from "@/store/actions.type";

export default {
    name: "Header",
    computed: {
        ...mapGetters(["authentication", "user"]),
        isUserConnected() {
            return this.authentication;
        },
        isUserAdmin() {
            return this.user.isAdmin;
        },
    },
    methods: {
        redirect(viewName) {
            this.$router.push({ name: viewName });
        },
        async disconnect() {
            const req = await logout();

            switch (req.status) {
                case 200:
                    await this.$store.dispatch(LOGOUT);
                    this.$router.push({ name: "Login" });
                    break;
                case 409:
                    alert(this.$t("LOGOUT_BAD_REQUEST"));
                    await this.$store.dispatch(LOGOUT);
                    this.$router.push({ name: "Login" });
                    break;
                default:
                    alert(this.$t("LOGOUT_INTERNAL_SERVER_ERROR"));
                    await this.$store.dispatch(LOGOUT);
                    this.$router.push({ name: "Login" });
                    break;
            }
        },
    },
};
</script>

<style lang="scss" scoped>
@import "./Header.style";
</style>
