@use "../../../styles/globals";

.trigger {
    padding: 15px;
    cursor: pointer;

    .trigger--name {
        font-size: 1.1em;
        color: globals.$ua_blue;
        font-weight: bolder;
        margin: 0;
    }

    ul {
        list-style: none;

        li {
            margin: 1px;
            font-style: italic;
        }
    }
}
