<template>
    <div class="trigger">
        <p class="trigger--name">{{ trigger.name }}</p>
        <ul>
            <li v-bind:key="example" v-for="example in trigger.example">
                Exemple: {{ example }}
            </li>
        </ul>
    </div>
</template>

<script>
export default {
    name: "Trigger.component",
    props: ["trigger"],
};
</script>

<style scoped lang="scss">
@import "Trigger.style";
</style>
