@use "../../../styles/globals";

.main--container {
    width: 100%;

    .body--container {
        border: 1px solid globals.$lightgrey;
        padding: 10px;

        .trigger--container {
            .trigger-form {
                display: flex;
                flex-direction: row;
                justify-content: center;
                gap: 10px;
                align-items: baseline;
                padding: 30px;

                .number {
                    min-width: 50px;
                    max-width: 60px;
                }

                .part,
                .agenda {
                    min-width: 120px;
                    max-width: 200px;
                }
            }
        }

        .example {
            font-size: 0.9em;
            font-style: italic;
            margin-left: 30px;
        }
    }

    .reset-button {
        color: globals.$red;
        text-transform: capitalize;
        margin-bottom: 20px;
        margin-top: 5px;
    }

    .messages {
        display: flex;
        justify-content: center;
        margin: 0;

        .message-text {
            color: globals.$ua_blue;
            text-align: center;
        }

        .error-text {
            color: globals.$red;
            text-align: center;
        }
    }

    .buttons {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;

        .valid-button,
        .delete-button {
            width: fit-content;
        }

        .valid-button {
            color: globals.$ua_blue;
            font-weight: bold;
        }

        .delete-button {
            color: globals.$red;
        }
    }
}

.confirm--card {
    padding: 10px;
    padding-bottom: 20px;
    background-color: #ffafaf !important;
    border: 2px solid #ff7272;

    .cancel-delete {
        background-color: white;
        margin-right: 10px;
    }

    .delete-button {
        margin-left: 10px;
    }
}
