<template>
    <div class="main--container">
        <div class="body--container">
            <div class="trigger--container">
                <v-form class="trigger-form" v-model="valid">
                    <div
                        v-bind:key="i"
                        v-for="(word, i) in trigger.trigger.split(' ')"
                    >
                        <div v-if="!word.includes('[')">
                            <p>{{ word }}</p>
                        </div>

                        <v-select
                            v-else-if="word.includes('pt')"
                            outlined
                            hide-details
                            required
                            :items="part"
                            v-model="form[word]"
                            placeholder="Partie"
                            class="part"
                            :rules="[(v) => !!v]"
                        >
                        </v-select>

                        <v-text-field
                            v-else-if="
                                word.includes('[$n') || word === '[$esp]'
                            "
                            outlined
                            hide-details
                            required
                            type="number"
                            value="1"
                            v-model="form[word]"
                            class="number"
                            :min="1"
                            :max="99"
                            :rules="[(v) => !!v]"
                        >
                        </v-text-field>

                        <v-select
                            v-else-if="
                                word.includes('agenda') ||
                                word.includes('jours')
                            "
                            outlined
                            hide-details
                            required
                            placeholder="Jours"
                            :items="days"
                            v-model="form[word]"
                            class="agenda"
                            :rules="[(v) => !!v]"
                        >
                        </v-select>

                        <v-select
                            v-else-if="word.includes('freq')"
                            outlined
                            hide-details
                            required
                            placeholder="Fréquence"
                            :items="freq"
                            v-model="form[word]"
                            class="agenda"
                            :rules="[(v) => !!v]"
                        >
                        </v-select>

                        <div v-else>
                            <p>{{ word }}</p>
                        </div>
                    </div>
                </v-form>
            </div>
            <p class="example">Exemple : {{ trigger.example[0] }}</p>
        </div>
        <v-btn outlined class="reset-button" @click="resetForm">
            <v-icon size="25" left>mdi-rotate-left</v-icon>
            {{ $t("TRIGGER_RESET_BTN") }}
        </v-btn>
        <div class="messages">
            <p
                v-if="message.text !== ''"
                :class="message.error ? 'error-text' : 'message-text'"
            >
                {{ message.text }}
            </p>
        </div>
        <div class="buttons">
            <v-btn
                outlined
                class="valid-button"
                :disabled="!valid"
                @click="submit()"
            >
                <v-icon left>mdi-check</v-icon>
                {{ getValidButtonText() }}
            </v-btn>
            <v-dialog
                v-if="!this.trigger.isNew"
                v-model="dialog"
                max-width="600"
                class="card--container"
            >
                <template v-slot:activator="{ on, attrs }">
                    <v-btn
                        outlined
                        v-bind="attrs"
                        v-on="on"
                        class="delete-button"
                    >
                        <v-icon left>mdi-trash-can-outline</v-icon>
                        {{ $t("TRIGGER_DELETE_BTN") }}
                    </v-btn>
                </template>
                <v-card outlined class="confirm--card">
                    <v-card-title>
                        <v-spacer></v-spacer>
                        {{ $t("TRIGGER_DELETE_CARD") }}
                        <v-spacer></v-spacer>
                    </v-card-title>
                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn
                            outlined
                            text
                            color="red"
                            class="cancel-delete"
                            @click="dialog = false"
                        >
                            <v-icon left>mdi-undo</v-icon>
                            {{ $t("TRIGGER_CANCEL_DELETE") }}
                        </v-btn>
                        <v-btn
                            color="red"
                            style="color: white"
                            class="confirm-delete"
                            @click="deleteWish()"
                        >
                            <v-icon left>mdi-trash-can-outline</v-icon>
                            {{ $t("TRIGGER_CONFIRM_DELETE") }}
                        </v-btn>
                        <v-spacer></v-spacer>
                    </v-card-actions>
                </v-card>
            </v-dialog>
        </div>
    </div>
</template>

<script>
import { mapGetters } from "vuex";
import resources from "@/helpers/resources";
import { CONSTRAINT_LIST, TRIGGER } from "@/store/actions.type";
import { constraints } from "@/components/constraints/Constraints.component";
import {
    saveTrigger,
    getTriggerList,
    deleteTrigger,
} from "@/services/api/trigger";

export default {
    // Le template fonctionne de manière à ce que, en fonction du trigger ([$...]), un type de champs différents est proposé.
    // [$n] donne un champs de type number
    // [$part] donne un champs de type select
    // etc.

    name: "FillTrigger.component",
    props: ["trigger"],
    data: () => ({
        form: {},
        part: resources.part,
        days: resources.days,
        freq: resources.freq,
        constraints: constraints,
        message: {
            text: "",
            error: false,
        },
        valid: false,
        dialog: false,
    }),
    computed: {
        ...mapGetters(["user", "formation", "course", "constraint_list"]),
    },
    created: function () {
        if (this.trigger.isNew === false) {
            const textArr = this.trigger.text.split(" ");
            const trigArr = this.trigger.trigger.split(" ");
            for (let word of trigArr) {
                if (word.includes("[$")) {
                    this.form[word] = textArr[trigArr.indexOf(word)];
                }
            }
        }
    },
    methods: {
        getValidButtonText() {
            if (this.trigger.isNew === true) {
                return this.$t("TRIGGER_ADD_BTN");
            } else {
                return this.$t("TRIGGER_VALID_BTN");
            }
        },
        async submit() {
            if (!this.trigger.isNew) {
                let removeReq = await deleteTrigger(this.trigger.id);
                switch (removeReq.status) {
                    case 200:
                        for (let obj of this.constraint_list) {
                            if (obj.id === this.trigger.id) {
                                this.constraint_list.splice(
                                    this.constraint_list.indexOf(obj),
                                    1
                                );
                                break;
                            }
                        }
                        break;
                    default:
                        this.message.text = this.$t("TRIGGER_DELETE_ERROR");
                        this.message.error = true;
                        this.deleteMessage();
                        this.$store.dispatch(TRIGGER, {
                            trigger: null,
                        });
                        break;
                }
            }
            // L'objet obj permettra de construire les données à envoyer en back pour le traitement de la contrainte.
            let obj = {
                course_id: this.course.id,
                file: this.trigger.file,
                request: this.trigger.req,
            };
            let req = this.trigger.trigger;
            for (let word of req.split(" ")) {
                if (word.includes("[")) {
                    req = req.replace(word, this.form[word]);
                }
            }
            obj["text"] = req;

            // Le JSON est transformé en string pour le traitement suivant.
            let rules = JSON.stringify(
                this.constraints["list"][this.trigger.file]["requests"][
                    this.trigger.req
                ]["rules"]
            );

            // Le regex correspond aux triggers, c'est à dire, les [$...] et leur contenu. Exemple: [$part]
            while (rules.match(/\[\$[^\]]+]/g)) {
                const variable = rules.match(/\[\$[^\]]+]/)[0];
                rules = rules.replace(/\[\$[^\]]+]/, this.form[variable]); // On remplace les triggers par les valeurs entrées par l'utilisateur
            }

            // On retransforme le string en Json avant de le sauvegarder.
            rules = JSON.parse(rules);
            obj["rules"] = rules;

            const saveReq = await saveTrigger(obj);
            switch (saveReq.status) {
                case 200:
                    this.valid = false;
                    this.message.text = this.$t("TRIGGER_SUCCESSFUL_CREATED");
                    this.message.error = false;
                    this.deleteMessage();
                    break;
                default:
                    this.message.text = this.$t("TRIGGER_ERROR");
                    this.message.error = true;
                    this.deleteMessage();
                    break;
            }

            const listReq = await getTriggerList(this.course.id);
            switch (listReq.status) {
                case 200:
                    listReq.json().then((data) => {
                        this.$store.dispatch(CONSTRAINT_LIST, {
                            constraint_list: data,
                        });
                    });

                    setTimeout(
                        () =>
                            this.$store.dispatch(TRIGGER, {
                                trigger: null,
                            }),
                        2500
                    );
            }
        },
        resetForm() {
            this.form = {};
        },
        async deleteWish() {
            if (!this.trigger.isNew) {
                this.dialog = false;
                let removeReq = await deleteTrigger(this.trigger.id);
                switch (removeReq.status) {
                    case 200:
                        this.$store.dispatch(TRIGGER, {
                            trigger: null,
                        });

                        for (let obj of this.constraint_list) {
                            if (obj.id === this.trigger.id) {
                                this.constraint_list.splice(
                                    this.constraint_list.indexOf(obj),
                                    1
                                );
                                break;
                            }
                        }
                        break;
                    default:
                        this.message.text = this.$t("TRIGGER_DELETE_ERROR");
                        this.message.error = true;
                        this.deleteMessage();
                        break;
                }
                this.dialog = false;
            }
        },
        deleteMessage() {
            setTimeout(() => {
                this.message = {
                    text: "",
                    error: false,
                };
            }, 3000);
        },
    },
};
</script>

<style scoped lang="scss">
@import "FillTrigger.style";
</style>
