<template>
    <div>
        <v-dialog class="warningDialog" width="700" v-model="dialog">
            <v-card>
                <v-card-title>
                    <v-container class="alert">
                        <i class="dialogIcon fas fa-exclamation-triangle"></i>
                        {{ this.$t("TIME_DIVISION_DIALOG_TITLE") }}
                        <i class="dialogIcon fas fa-exclamation-triangle"></i>
                    </v-container>
                </v-card-title>

                <v-container class="paras">
                    <v-card-text class="para1">
                        {{ this.$t("TIME_DIVISION_DIALOG_MSG1") }}
                    </v-card-text>
                    <v-card-text class="para2">
                        {{ this.$t("TIME_DIVISION_DIALOG_MSG2") }}
                    </v-card-text>
                </v-container>

                <v-card-actions class="dialogButtons">
                    <v-btn class="dialogBack" outlined @click="dialog = false">
                        <i class="fas fa-reply"></i>
                        {{ this.$t("TIME_DIVISION_DIALOG_BTN_REINIT") }}
                    </v-btn>

                    <v-btn class="dialogValidate" @click="validate">
                        <i class="fas fa-check"></i>
                        {{ this.$t("TIME_DIVISION_DIALOG_BTN_VALIDATE") }}
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>

        <div class="box">
            <div class="box__title">
                <h2>{{ $t("TIME_DIVISION_MANAGEMENT_TITLE") }}</h2>
            </div>

            <v-form ref="form" class="box__body timeManagement" v-model="valid">
                <v-row
                    class="partRow"
                    v-for="item in Array.from(course.parts)"
                    :key="item.id"
                >
                    <v-col cols="2" class="part">
                        {{ item.type }} -
                        {{ item.session_length * item.nr_sessions }} h :
                    </v-col>

                    <v-col cols="10">
                        <v-select
                            class="divisionSelect"
                            :items="getPropositions(item)"
                            v-model="selectContent[item.id]"
                            item-text="msg"
                            :menu-props="{
                                bottom: true,
                                offsetY: true,
                            }"
                            :label="$t('TIME_DIVISION_SELECT_VOLUME')"
                            dense
                            outlined
                        ></v-select>
                    </v-col>
                </v-row>
                <v-row class="buttonsRow">
                    <v-col
                        cols="12"
                        v-if="
                            displayMessageError !== '' ||
                            displayMessageSuccess !== ''
                        "
                    >
                        <p
                            :class="{
                                displayError: displayMessageError,
                                displaySuccess: displayMessageSuccess,
                            }"
                            v-html="
                                displayMessageSuccess
                                    ? displayMessageSuccess
                                    : displayMessageError
                            "
                        />
                    </v-col>
                    <v-col cols="12" class="buttonPart">
                        <v-btn class="buttonReinit" @click="reinit">
                            <i class="fas fa-undo-alt"></i>
                            {{ $t("TIME_DIVISION_BUTTON_REINIT") }}
                        </v-btn>

                        <v-btn
                            class="buttonValidate"
                            @click.stop="afficheDialog"
                            :disabled="!valid"
                        >
                            <i class="fas fa-check"></i>
                            {{ $t("TIME_DIVISION_BUTTON_VALIDATE") }}
                        </v-btn>
                    </v-col>
                </v-row>
            </v-form>
        </div>
    </div>
</template>
<script>
import { changePartById } from "@/services/api/courses.js";
import { COURSE } from "@/store/actions.type";
import { getCourseById } from "@/services/api/courses";
import { mapGetters } from "vuex";

export default {
    data() {
        return {
            selectContent: {},
            valid: false,
            dialog: false,
            displayMessageSuccess: "",
            displayMessageError: "",

            propositionsOfSessionByPart: [], // TABLEAU CONTENANT LA LISTE DES PROPOSITIONS DE SESSIONS EN FONCTION DE L'ID DU TYPE DE PART
            dureeMaxOfSession: 4, // DURÉE MAXIMUM D'UNE SESSION EN HEURE
        };
    },
    computed: {
        ...mapGetters(["course"]),
    },

    async mounted() {
        this.course.parts.forEach((item) => {
            this.setCurrentData(item);
            let propositionsOfSessionForThisPart = []; // TABLEAU CONTENANT LA LISTE DES PROPOSITIONS DE DECOUPAGES HORAIRES POUR UNE PART
            let dureeOfCreneau = process.env.VUE_APP_BASE_SESSION_DURATION;

            // DONNÉES VARIABLE
            let durationOfSession = item.session_length; // DUREE D'UNE SESSION EN HEURE
            let nbSessions = item.nr_sessions; // NOMBRE DE SESSION
            let nbProposition = 1; // NOMBRE DE PROPOSITION DE SESSION (ON NE PROPOSE PAS PLUS DE DECOUPAGES HORAIRES QUE DE NOMBRE DE SESSION DE BASE)
            let propositionOfSession = {}; // OBJECT CONTENANT UNE CHAINE DE CARACTÈRE CORRESPONDANT À LA PROPOSITION DE SESSION A METTRE DANS LE TABLE DES PROPOSITIONS DE SESSION (propositionsOfSessionForThisPart)
            let NR_SESSION = item.nr_sessions; // ASTUCE POUR GERER LE NOMBRE DE REPETITION DANS LA BOUCLE
            let SESSION_LENGTH = item.session_length; // ASTUCE POUR GERER LE NOMBRE DE REPETITION DANS LA BOUCLE

            if (nbSessions < durationOfSession) {
                //  CE CODE M'EST SERAIT UTILE DANS LE CAS OÙ ON A LA DURÉE D'UNE SESSION EST PLUS IMPORTANTE QUE LE NOMBRE DE SESSION. PAR EXEMPLE 1 SESSION DE 2 HEURES, ON POURRA AVOIR 2 PROPOSITIONS GRACE À ÇA ET NON UNE SEULE
                NR_SESSION = item.session_length;
                SESSION_LENGTH = item.nr_sessions;
                durationOfSession = nbSessions;
                nbSessions = NR_SESSION;
            }

            while (nbProposition <= NR_SESSION) {
                if (
                    NR_SESSION % nbSessions == 0 &&
                    durationOfSession <= this.dureeMaxOfSession
                ) {
                    propositionOfSession = {
                        msg:
                            Math.floor(nbSessions) +
                            " " +
                            this.$t("TIME_DIVISION_TEXT1") +
                            " " +
                            durationOfSession * 60 +
                            " " +
                            this.$t("TIME_DIVISION_TEXT2") +
                            " " +
                            Math.ceil(
                                (nbSessions * durationOfSession * 60) /
                                    dureeOfCreneau
                            ) +
                            " " +
                            this.$t("TIME_DIVISION_TEXT3"),
                    };
                    //ON N'AJOUTE PAS DE DOUBLON DANS NOTRE TABLEAU
                    if (
                        !propositionsOfSessionForThisPart.includes(
                            propositionOfSession
                        )
                    ) {
                        propositionsOfSessionForThisPart.push(
                            propositionOfSession
                        );
                    }
                }
                ++nbProposition;
                nbSessions = NR_SESSION / nbProposition;
                durationOfSession =
                    (NR_SESSION * SESSION_LENGTH) / Math.floor(nbSessions);
            }

            this.propositionsOfSessionByPart.push({
                key: item.id,
                value: propositionsOfSessionForThisPart,
            });
        });
    },

    methods: {
        getPropositions(item) {
            for (let i = 0; i < this.propositionsOfSessionByPart.length; i++) {
                if (this.propositionsOfSessionByPart[i].key === item.id) {
                    return this.propositionsOfSessionByPart[i].value;
                }
            }
        },

        setCurrentData(part) {
            const NR_SESSION = part.nr_sessions;
            const SESSION_LENGTH = part.session_length;
            const ID = part.id;
            const option =
                Math.floor(NR_SESSION) +
                " " +
                this.$t("TIME_DIVISION_TEXT1") +
                " " +
                SESSION_LENGTH * 60 +
                " " +
                this.$t("TIME_DIVISION_TEXT2") +
                " " +
                Math.ceil((NR_SESSION * SESSION_LENGTH * 60) / 60) +
                " " +
                this.$t("TIME_DIVISION_TEXT3");
            this.selectContent[ID] = option;
        },

        deleteMessage() {
            setTimeout(() => {
                this.displayMessageSuccess = "";
                this.displayMessageError = "";
            }, 3500);
        },

        afficheDialog() {
            if (Object.keys(this.selectContent).length != 0) {
                this.dialog = true;
            } else {
                this.displayMessageError = this.$t("TIME_DVISION_ATLEASTONE");
                this.deleteMessage();
            }
        },

        reinit() {
            this.$refs.form.reset();
            this.selectContent = {};
        },

        async validate() {
            this.dialog = false;

            for (const idPart in this.selectContent) {
                let val = this.selectContent[idPart].split(" ");

                const data = {
                    nr_sessions: parseInt(val[0]),
                    session_length: parseFloat(val[3]) / 60,
                };
                const idOfPart = parseInt(idPart);

                const response = await changePartById(idOfPart, data);
                let resCourse;
                let currentCourse;
                switch (response.status) {
                    case 200:
                        this.displayMessageSuccess = this.$t(
                            "TIME_DIVISION_SUCCESS"
                        );

                        resCourse = await getCourseById(this.course.id);
                        switch (resCourse.status) {
                            case 200:
                                currentCourse = await resCourse
                                    .json()
                                    .then((data) => {
                                        return data;
                                    });

                                await this.$store.dispatch(COURSE, {
                                    formation: currentCourse.formation.name,
                                    course: currentCourse,
                                });
                                break;
                            default:
                        }

                        this.deleteMessage();
                        break;
                    case 401:
                        this.displayMessageError = this.$t(
                            "TIME_DIVISION_NOT_CONNECTED"
                        );
                        this.deleteMessage();
                        break;
                    case 403:
                        this.displayMessageError = this.$t(
                            "TIME_DIVISION_CANT_ACCESS"
                        );
                        this.deleteMessage();
                        break;
                    case 404:
                        this.$router.push({ name: "404 Not Found" });
                        break;
                    case 406:
                        this.displayMessageError = this.$t(
                            "TIME_DIVISION_BAD_REQUEST"
                        );
                        this.deleteMessage();
                        break;
                    case 409:
                        this.displayMessageError = this.$t(
                            "TIME_DIVISION_BAD_REQUEST"
                        );
                        this.deleteMessage();
                        break;
                    default:
                        this.displayMessageError = this.$t(
                            "TIME_DIVISION_INTERNAL_SERVOR_ERROR"
                        );
                        this.deleteMessage();
                }
            }
        },
    },
};
</script>
<style lang="scss" scoped>
@import "TimeDivisionManagement.style";
</style>
