@use "../../../styles/globals";
@use "../../../styles/box";

.warningDialog {
    display: none;
}

.timeManagement {
    width: 100%;
}

.alert {
    background-color: globals.$warning;
    font-size: 1.75em;
    font-weight: bold;
    padding: 15px;
    border-radius: 15px !important;
}

.paras {
    display: flex;
    flex-direction: column;
    gap: 5px;

    .para1,
    .para2 {
        background-color: globals.$darker-white !important;
        margin: 15px;
        font-size: 1.1em;
        font-weight: bold;
        text-align: center;
    }

    .para2 {
        color: globals.$warning;
        font-weight: bolder;
    }
}
.dialogButtons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-bottom: 15px !important;

    .dialogBack,
    .dialogValidate {
        padding: 15px !important;
        letter-spacing: 0.02em;
        font-weight: bold;

        i {
            margin-right: 5px;
        }

        &:hover {
            color: globals.$black !important;
        }
    }

    .dialogBack {
        background-color: globals.$white;
        color: globals.$ua_blue;
        border: solid 1px globals.$ua_blue;
    }

    .dialogValidate {
        background-color: globals.$ua_blue;
        color: globals.$white;
    }
}

.dialogIcon {
    margin: auto 15px;
}

.displayError {
    color: globals.$red;
}

.displaySuccess {
    color: globals.$ua_blue;
}

.partRow {
    align-items: baseline;

    .part {
        font-size: 1.1em;
        font-weight: bold;
    }
}

.buttonsRow {
    p {
        margin-bottom: 0;
    }

    .buttonPart {
        display: flex;
        justify-content: flex-end;
        align-items: center;

        .buttonReinit,
        .buttonValidate {
            letter-spacing: 1px;

            i {
                margin-right: 5px;
            }
        }

        .buttonReinit {
            background-color: globals.$white;
            border: solid 2px globals.$red;
            color: globals.$red;
            padding: 15px 20px;
            margin-right: 10px;
        }

        .buttonValidate {
            background-color: globals.$white;
            border: solid 2px globals.$ua_blue;
            color: globals.$ua_blue;
            padding: 20px 15px;
            font-weight: bolder;
        }

        .buttonReinit:hover,
        .buttonValidate:hover {
            color: globals.$black;
        }
    }
}
