@use "../../../styles/globals";

.rightsTable__container {
    display: flex;
    flex-direction: column;
}

.rightsTable__body {
    width: 100%;

    th,
    td {
        border: solid 1px globals.$lightgrey;
        color: globals.$black !important;
        text-align: left;
    }

    th {
        background-color: globals.$darker-white !important;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        font-size: 0.9em !important;
    }

    th:last-of-type {
        background-color: globals.$white !important;
        border-color: globals.$white;
    }

    td {
        border-top: none;
    }

    tr:hover {
        background-color: globals.$darker-white !important;
    }

    .removeButton {
        border: none !important;

        &:hover {
            cursor: pointer;
            background-color: globals.$light-red;
            i {
                color: globals.$red;
            }
        }

        i {
            font-size: 20px;
            color: globals.$red;
        }
    }
}

.displayMessage {
    text-align: center;
}

.displayError {
    color: globals.$red;
}

.displaySuccess {
    color: globals.$ua_blue;
}
