<template>
    <div class="box">
        <div class="box__title">
            <h2>{{ this.$t("ADMIN_REMOVE_TITLE") }}</h2>
        </div>
        <div class="box__body">
            <v-form ref="form" v-model="valid">
                <v-row class="pa-5">
                    <v-col cols="3">
                        <v-select
                            :label="this.$t('ADMIN_REMOVE_USER')"
                            v-model="user"
                            :items="usersToDisplay"
                            item-text="username"
                            item-value="id"
                            v-on:change="formatIfNull"
                            :menu-props="{ bottom: true, offsetY: true }"
                            dense
                            outlined
                            required
                            clearable
                        ></v-select>
                    </v-col>

                    <v-col cols="3">
                        <v-select
                            :label="this.$t('ADMIN_REMOVE_FORMATION')"
                            v-model="formation"
                            :items="formationsToDisplay"
                            item-text="name"
                            item-value="id"
                            v-on:change="formatIfNull"
                            :menu-props="{ bottom: true, offsetY: true }"
                            dense
                            outlined
                            required
                            clearable
                        ></v-select>
                    </v-col>

                    <v-col cols="3">
                        <v-select
                            :label="this.$t('ADMIN_REMOVE_COURSE')"
                            v-model="course"
                            :items="coursesToDisplay"
                            item-text="name"
                            item-value="id"
                            v-on:change="formatIfNull"
                            :menu-props="{ bottom: true, offsetY: true }"
                            dense
                            outlined
                            required
                            clearable
                        ></v-select>
                    </v-col>

                    <v-col cols="0"></v-col>
                </v-row>
            </v-form>
            <div class="rightsTable__container">
                <div
                    class="displayMessage"
                    v-if="
                        displayMessageError !== '' ||
                        displayMessageSuccess !== ''
                    "
                >
                    <p
                        :class="{
                            displayError: displayMessageError,
                            displaySuccess: displayMessageSuccess,
                        }"
                        v-html="
                            displayMessageSuccess
                                ? displayMessageSuccess
                                : displayMessageError
                        "
                    ></p>
                </div>
                <v-simple-table
                    fixed-header
                    height="220px"
                    class="rightsTable__body"
                >
                    <thead>
                        <tr>
                            <th class="col-4">
                                {{ this.$t("ADMIN_REMOVE_USER") }}
                            </th>
                            <th class="col-4">
                                {{ this.$t("ADMIN_REMOVE_FORMATION") }}
                            </th>
                            <th class="col-4">
                                {{ this.$t("ADMIN_REMOVE_COURSE") }}
                            </th>
                            <th></th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr v-for="right in rightsToDisplay" :key="right.name">
                            <td class="data">{{ right.user.username }}</td>
                            <td class="data">{{ right.formation.name }}</td>
                            <td class="data">{{ right.course.name }}</td>
                            <td class="removeButton">
                                <i
                                    class="fas fa-trash-alt"
                                    @click="
                                        removeRight(
                                            right.user.id,
                                            right.course.id
                                        )
                                    "
                                ></i>
                            </td>
                        </tr>
                    </tbody>
                </v-simple-table>
            </div>
        </div>
    </div>
</template>

<script>
import { getAllUsers } from "@/services/api/users.js";
import { getAllFormations } from "@/services/api/formations.js";
import { getAllCourses } from "@/services/api/courses.js";
import { getAllRights } from "@/services/api/rights.js";
import { removeRight } from "@/services/api/rights.js";
import { getUser } from "@/services/api/users.js";
import { UPDATE_USER } from "@/store/actions.type";

export default {
    data() {
        return {
            valid: false,
            user: "",
            formation: "",
            course: "",
            displayMessageError: "",
            displayMessageSuccess: "",
            allUsers: [],
            allFormations: [],
            allCourses: [],
            allRights: [],
        };
    },
    computed: {
        usersToDisplay() {
            let usersToDisplay = [];
            if (this.formation !== "" || this.course !== "") {
                if (this.formation !== "" && this.course === "") {
                    this.allRights.forEach((right) => {
                        if (right.formation.id === this.formation) {
                            usersToDisplay.push(right.user);
                        }
                    });
                } else if (this.formation === "" && this.course !== "") {
                    this.allRights.forEach((right) => {
                        if (right.course.id === this.course) {
                            usersToDisplay.push(right.user);
                        }
                    });
                } else {
                    this.allRights.forEach((right) => {
                        if (
                            right.course.id === this.course &&
                            right.formation.id === this.formation
                        ) {
                            usersToDisplay.push(right.user);
                        }
                    });
                }
            } else {
                return this.allUsers;
            }
            return usersToDisplay;
        },
        formationsToDisplay() {
            let formationsToDisplay = [];
            if (this.user !== "" || this.course !== "") {
                if (this.user !== "" && this.course === "") {
                    this.allRights.forEach((right) => {
                        if (right.user.id === this.user) {
                            formationsToDisplay.push(right.formation);
                        }
                    });
                } else if (this.user === "" && this.course !== "") {
                    this.allRights.forEach((right) => {
                        if (right.course.id === this.course) {
                            formationsToDisplay.push(right.formation);
                        }
                    });
                } else {
                    this.allRights.forEach((right) => {
                        if (
                            right.course.id === this.course &&
                            right.user.id === this.user
                        ) {
                            formationsToDisplay.push(right.formation);
                        }
                    });
                }
            } else {
                return this.allFormations;
            }
            return formationsToDisplay;
        },
        coursesToDisplay() {
            let coursesToDisplay = [];
            if (this.user !== "" || this.formation !== "") {
                if (this.user !== "" && this.formation === "") {
                    this.allRights.forEach((right) => {
                        if (right.user.id === this.user) {
                            coursesToDisplay.push(right.course);
                        }
                    });
                } else if (this.user === "" && this.formation !== "") {
                    this.allRights.forEach((right) => {
                        if (right.formation.id === this.formation) {
                            coursesToDisplay.push(right.course);
                        }
                    });
                } else {
                    this.allRights.forEach((right) => {
                        if (
                            right.formation.id === this.formation &&
                            right.user.id === this.user
                        ) {
                            coursesToDisplay.push(right.course);
                        }
                    });
                }
            } else {
                return this.allCourses;
            }
            return coursesToDisplay;
        },
        rightsToDisplay() {
            let rightsToDisplay = [];

            if (
                this.user === "" &&
                this.formation === "" &&
                this.course === ""
            ) {
                this.allRights.forEach((right) => {
                    rightsToDisplay.push(right);
                });
            } else {
                if (this.user === "") {
                    if (this.formation === "") {
                        if (this.course !== "") {
                            this.allRights.forEach((right) => {
                                if (right.course.id === this.course) {
                                    rightsToDisplay.push(right);
                                }
                            });
                        }
                    } else if (this.course !== "") {
                        this.allRights.forEach((right) => {
                            if (
                                right.formation.id === this.formation &&
                                right.course.id === this.course
                            ) {
                                rightsToDisplay.push(right);
                            }
                        });
                    } else {
                        this.allRights.forEach((right) => {
                            if (right.formation.id === this.formation) {
                                rightsToDisplay.push(right);
                            }
                        });
                    }
                } else if (this.formation !== "") {
                    if (this.course !== "") {
                        this.allRights.forEach((right) => {
                            if (
                                right.user.id === this.user &&
                                right.formation.id === this.formation &&
                                right.course.id === this.course
                            ) {
                                rightsToDisplay.push(right);
                            }
                        });
                    } else {
                        this.allRights.forEach((right) => {
                            if (
                                right.user.id === this.user &&
                                right.formation.id === this.formation
                            ) {
                                rightsToDisplay.push(right);
                            }
                        });
                    }
                } else {
                    this.allRights.forEach((right) => {
                        if (right.user.id === this.user) {
                            rightsToDisplay.push(right);
                        }
                    });
                }
            }

            return rightsToDisplay;
        },
    },
    methods: {
        async setAllUsers() {
            const req = await getAllUsers();
            this.allUsers = await req.json().then((data) => {
                return data;
            });
        },

        async setAllFormations() {
            const req = await getAllFormations();
            this.allFormations = await req.json().then((data) => {
                return data;
            });
        },

        async setAllCourses() {
            const req = await getAllCourses();
            this.allCourses = await req.json().then((data) => {
                return data;
            });
        },

        async setAllRights() {
            const req = await getAllRights();
            this.allRights = await req.json().then((data) => {
                return data;
            });
        },

        formatIfNull() {
            if (this.user === null) {
                this.user = "";
            }
            if (this.formation === null) {
                this.formation = "";
            }
            if (this.course === null) {
                this.course = "";
            }
        },

        deleteMessage() {
            setTimeout(() => {
                this.displayMessageSuccess = "";
                this.displayMessageError = "";
            }, 3000);
        },

        async removeRight(user, course) {
            const right = {
                userId: user,
                courseId: course,
            };

            const req = await removeRight(right);
            let userReq;
            let userRes;
            switch (req.status) {
                case 200:
                    this.displayMessageSuccess = this.$t(
                        "ADMIN_REMOVE_SUCCESS"
                    );

                    userReq = await getUser();
                    userRes = await userReq.json().then((data) => {
                        return data;
                    });

                    await this.$store.dispatch(UPDATE_USER, {
                        user: userRes,
                    });

                    this.deleteMessage();
                    break;
                case 401:
                    this.displayMessageError = this.$t(
                        "ADMIN_REMOVE_NOTCONNECTED"
                    );
                    this.deleteMessage();
                    break;
                case 403:
                    this.displayMessageError = this.$t(
                        "ADMIN_REMOVE_UNAUTHORIZED"
                    );
                    this.deleteMessage();
                    break;
                case 404:
                    this.displayMessageError = this.$t(
                        "ADMIN_REMOVE_BADREQUEST"
                    );
                    this.deleteMessage();
                    break;
                case 406:
                    this.displayMessageError = this.$t(
                        "ADMIN_REMOVE_NOTLINKED"
                    );
                    this.deleteMessage();
                    break;
                case 500:
                    this.displayMessageError = this.$t(
                        "ADMIN_REMOVE_INTERNALSERVERERROR"
                    );
                    this.deleteMessage();
                    break;
                default:
                    this.displayMessageError = this.$t(
                        "ADMIN_REMOVE_ERROR_OCCURED"
                    );
                    this.deleteMessage();
            }
            this.setAllRights();
        },
    },
    async mounted() {
        await this.setAllUsers();
        await this.setAllFormations();
        await this.setAllCourses();
        await this.setAllRights();
    },
};
</script>

<style lang="scss">
@import "RemoveRights.style";
</style>
