<template>
    <div class="box">
        <div class="box__title box__title--readOnly">
            <h2>{{ $t("GROUP_DISTRIBUTION_TITLE_REPARTITION") }}</h2>
        </div>
        <div class="box__body">
            <table class="distributionTable">
                <tr>
                    <th class="titleTable">
                        {{ this.$t("GROUP_DISTRIBUTION_TYPE") }}
                    </th>
                    <th class="titleTable">
                        {{ this.$t("GROUP_DISTRIBUTION_GROUPS") }}
                    </th>
                </tr>

                <tr v-for="data in Array.from(course.parts)" :key="data.id">
                    <th>{{ data.type }}</th>

                    <td>
                        <p>
                            <span
                                v-for="item in Array.from(data.classes)"
                                :key="item.id"
                                class="groupName"
                            >
                                {{ item.name }}
                            </span>
                        </p>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</template>

<script>
import { mapGetters } from "vuex";

export default {
    computed: {
        ...mapGetters(["course"]),
    },

    methods: {
        redirectHome(viewName) {
            this.$router.push({ name: viewName });
        },
    },
};
</script>
<style lang="scss" scoped>
@import "GroupDistribution.style";
</style>
