@use "../../../styles/globals";
@use "../../../styles/box";

.distributionTable {
    width: 100%;
    padding: 15px;
    border-collapse: collapse;

    thead {
        font-weight: bold;
    }

    th,
    td {
        border: solid 2px globals.$lightgrey;
        padding: 10px 15px;
    }

    td {
        p {
            margin: 0;

            .groupName {
                display: block;
            }
        }
    }
}
