@use "../../styles/globals";
@use "../../styles/page";
@use "../../styles/box";

.selectedCourse {
    margin-top: 15px;
    text-align: center;
    font-size: 1.1em;
    font-style: italic;
    margin-bottom: 0;

    &__course {
        display: block;
        font-size: 1.1em;
        font-weight: bold;
        font-style: normal;
    }
}

.sections {
    display: flex;
    gap: 20px;

    .timeDivisionManagement {
        width: 65%;
    }

    .groupDistribution {
        width: 35%;
        align-self: flex-end;
    }
}
