<template>
    <div v-if="!trigger || (trigger && trigger.isNew)">
        <p class="course--select--title">{{ $t("HOME_SELECT_COURSE") }}</p>
        <div class="course--select--form">
            <div>
                <p>{{ $t("HOME_FORMATION") }}</p>
                <v-select
                    :placeholder="$t('HOME_FORMATION')"
                    :items="getFormations"
                    v-model="select_formation"
                    solo
                    outlined
                    clearable
                    @change="getCoursesOfFormation()"
                    class="v-select-formation"
                ></v-select>
            </div>

            <div>
                <p>{{ $t("HOME_COURSE") }}</p>
                <v-select
                    :disabled="courses.length === 0"
                    :placeholder="$t('HOME_COURSE')"
                    :items="courses"
                    :item-text="(item) => item.name"
                    :item-value="(item) => item.id"
                    v-model="select_course"
                    solo
                    outlined
                    clearable
                    @change="saveCourse()"
                    class="v-select-course"
                ></v-select>
            </div>
        </div>
    </div>
</template>

<script>
import { mapGetters } from "vuex";
import { CONSTRAINT_LIST, COURSE } from "@/store/actions.type";
import { getCourseById } from "@/services/api/courses";
import { getTriggerList } from "@/services/api/trigger";

export default {
    name: "CourseSelect",
    data: () => ({
        select_formation: "",
        select_course: "",
        formations: [],
        courses: [],
    }),
    computed: {
        ...mapGetters([
            "authentication",
            "user",
            "formation",
            "course",
            "trigger",
        ]),
        getFormations() {
            let result = [];
            for (let right in this.user.rights) {
                result.push(right);
            }
            return result;
        },
    },
    created: function () {
        this.select_formation = this.formation === null ? "" : this.formation;
        this.select_course = this.course === null ? "" : this.course;
        this.getCoursesOfFormation();
    },
    methods: {
        async getCoursesOfFormation() {
            if (this.select_formation === null) {
                this.select_course = null;
                this.courses = [];
                await this.$store.dispatch(COURSE, {
                    formation: null,
                    course: null,
                });
            } else if (this.select_formation === "") {
                return null;
            } else {
                let result = [];
                for (let course in this.user.rights[this.select_formation]) {
                    result.push(
                        this.user.rights[this.select_formation][course]
                    );
                }
                this.courses = result;
            }
        },
        async saveCourse() {
            // Au lieu d'enregistrer juste le nom du cours, on enregistre toutes les données en rapport avec ce cours.
            if (this.select_course === null) {
                await this.$store.dispatch(COURSE, {
                    formation: this.select_formation,
                    course: null,
                });
            } else {
                const courseReq = await getCourseById(this.select_course);
                let result;
                switch (courseReq.status) {
                    case 200:
                        result = await courseReq.json().then((data) => {
                            return data;
                        });

                        await this.$store.dispatch(COURSE, {
                            formation: this.select_formation,
                            course: result,
                        });

                        break;
                    default:
                        break;
                }

                const listReq = await getTriggerList(this.course.id);
                switch (listReq.status) {
                    case 200:
                        listReq.json().then((data) => {
                            this.$store.dispatch(CONSTRAINT_LIST, {
                                constraint_list: data,
                            });
                        });
                        break;
                    default:
                        break;
                }
            }
        },
    },
};
</script>

<style lang="scss" scoped>
@import "CourseSelect.style";
</style>
