@use "../../styles/globals";

.course--select--title {
    margin-bottom: 15px;
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
}

.course--select--form {
    display: flex;
    justify-content: center;
    gap: 100px;

    div {
        p {
            color: globals.$ua_blue;
            text-align: center;
            font-size: 1.1em;
            font-weight: bold;
            margin: 0;
        }

        .v-select-formation,
        .v-select-course {
            width: 350px;
        }
    }
}
