<template>
    <div
        class="edition--box"
        v-bind:class="{ 'edition--box--edit': !trigger.isNew }"
    >
        <button class="resetTriggerBtn" @click="resetTrigger()" text>
            <i class="fas fa-reply"></i>
            {{ $t("EDITION_RESET_TRIGGER") }}
        </button>
        <p class="edition--title">
            {{
                trigger.isNew
                    ? $t("EDITION_TITLE_ADD")
                    : $t("EDITION_TITLE_EDIT")
            }}
            <v-icon class="tooltipBtn" color="blue darken-1" large>
                mdi-information
            </v-icon>
        </p>
        <div class="trigger--infos">
            <p class="triggerName">{{ this.trigger.name }}</p>
            <p class="triggerType">
                {{ $t("EDITION_WISH_TYPE") + this.trigger.type }}
            </p>
        </div>
        <div class="trigger--container">
            <FillTrigger :trigger="trigger" />
        </div>
    </div>
</template>

<script>
import { mapGetters } from "vuex";
import FillTrigger from "../fill-trigger/FillTrigger.component";
import { TRIGGER } from "@/store/actions.type";

export default {
    name: "Edition",
    components: { FillTrigger },
    computed: {
        ...mapGetters([
            "authentication",
            "user",
            "formation",
            "course",
            "trigger",
        ]),
    },
    methods: {
        resetTrigger() {
            this.$store.dispatch(TRIGGER, {
                trigger: null,
            });
        },
    },
};
</script>

<style scoped lang="scss">
@import "Edition.style";
</style>
