@use "../../../styles/globals";

.edition--box {
    display: flex;
    flex-direction: column;
    align-self: center;

    &--edit {
        margin-top: -30px;
    }

    .resetTriggerBtn {
        color: globals.$black;
        padding: 5px 10px;
        border: solid 1px globals.$ua_blue;
        border-radius: 5px;
        font-size: 1em;
        font-weight: bold;
        width: fit-content;

        &:hover {
            color: globals.$ua_blue;
        }

        i {
            margin-right: 5px;
            font-size: 1em;
        }
    }

    .edition--title {
        font-size: 1.2em;
        font-weight: bold;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 35px;
        margin-bottom: 20px;

        .tooltipBtn {
            margin-left: 10px;

            &:hover {
                cursor: pointer;
                color: globals.$light_ua_blue !important;
            }
        }
    }

    .trigger--infos {
        display: flex;
        justify-content: space-between;
        align-items: baseline;

        .triggerName,
        .triggerType {
            margin: 0;
            color: globals.$ua_blue;
            font-weight: bold;
        }

        .triggerName {
            font-size: 1.2em;
        }

        .triggerType {
            font-size: 0.9em;
            font-style: oblique;
        }
    }

    .trigger--container {
        width: 100%;
    }
}
