@use "../../../styles/globals";

.main--container {
    .constraint--search--container {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .trigger--list--container {
        .search-results--container {
            margin-top: 15px;
            overflow-y: auto;
            max-height: 40vh;

            > div {
                border: 1px solid globals.$lightgrey;
                border-bottom: 0;
            }

            > div:hover {
                background-color: globals.$lightgrey;
            }

            > div:last-child {
                border-bottom: 1px solid globals.$lightgrey;
            }
        }
    }

    .triggerList--title {
        font-size: 1.2em;
        font-weight: bold;
        display: flex;
        align-items: center;
        margin-bottom: 0;

        .tooltipBtn {
            margin-left: 10px;

            &:hover {
                cursor: pointer;
                color: globals.$light_ua_blue !important;
            }
        }
    }

    .need-help {
        font-size: 1em;
        font-weight: bold;
        font-style: oblique;
        text-align: center;
    }
}
