<template>
    <div class="main--container">
        <div class="constraint--search--container">
            <p class="triggerList--title">
                {{ $t("HOME_ENTER_WISH_LABEL") }}
                <v-icon class="tooltipBtn" color="blue darken-1" large>
                    mdi-information
                </v-icon>
            </p>
            <div class="select--container">
                <v-text-field
                    clearable
                    solo
                    outlined
                    v-model="searchValue"
                    :placeholder="$t('HOME_ENTER_WISH_PLACEHOLDER')"
                    prepend-inner-icon="mdi-magnify"
                    @input="filterSearch"
                    :disabled="!this.course"
                >
                </v-text-field>

                <div v-if="searchValue === ''">
                    <p class="need-help">
                        {{ $t("HOME_NEED_HELP") }}
                    </p>
                </div>
            </div>
        </div>
        <div v-if="triggerList.length > 0" class="trigger--list--container">
            <p class="triggerList--title">
                {{ $t("HOME_SEARCH_RESULT") }}
                <v-icon class="tooltipBtn" color="blue darken-1" large>
                    mdi-information
                </v-icon>
            </p>
            <div class="search-results--container">
                <div
                    v-bind:key="key"
                    v-for="key in Object.keys(triggerList)"
                    @click="save(triggerList[key])"
                >
                    <Trigger class="trigger" :trigger="triggerList[key]" />
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import { mapGetters } from "vuex";
import Trigger from "../trigger/Trigger.component";
import { constraints } from "@/components/constraints/Constraints.component";
import { TRIGGER } from "@/store/actions.type";

export default {
    name: "TriggerList.component",
    data: () => ({
        searchValue: null,
        triggerList: [],
    }),
    components: { Trigger },
    computed: {
        ...mapGetters(["formation", "course"]),
        contactMail() {
            return process.env.CONTACT_MAIL;
        },
    },
    methods: {
        save(trigger) {
            if (trigger !== null) {
                this.$store.dispatch(TRIGGER, {
                    trigger: trigger,
                });
            }
        },
        filterSearch() {
            this.triggerList = [];
            let tempArr = [];
            if (this.searchValue != null && this.searchValue.length > 1) {
                for (let file in constraints["list"]) {
                    // Pour l'algorithme de recherche, un système de poids par trigger a été mis en place.
                    // Plus le poids est haut, plus le trigger est proche de ce que l'utilisateur a écrit.
                    let weight = 0;
                    let obj = {
                        weight: 0,
                    };

                    for (let req in constraints["list"][file]["triggers"]) {
                        weight = 0;
                        // L'algorithme est simple, on vérifie si l'entrée utilisateur contient:
                        // Soit des mots clés définis dans les fichiers de configurations
                        weight = this.searchContainsKeyword(
                            constraints["list"][file]["keywords"],
                            weight
                        );
                        // Soit des mots incluts dans la partie "triggers" dans les fichiers de configurations.
                        weight = this.compareSearchAndTrigger(
                            constraints["list"][file]["triggers"][req],
                            weight
                        );
                        obj = {
                            file: file,
                            name: constraints["list"][file]["name"],
                            type: constraints["list"][file]["type"],
                            vars: constraints["list"][file]["vars"],
                            req: req,
                            trigger: constraints["list"][file]["triggers"][req],
                            example: constraints["list"][file]["examples"][req],
                            weight: weight,
                            isNew: true,
                        };
                        // On évite d'afficher des triggers dont le poids est 0 ou des triggers déjà affichés.
                        if (weight > 0 && !tempArr.includes(obj.example)) {
                            tempArr.push(obj.example);
                            this.triggerList.push(obj);
                        }
                    }
                }
            }
            // On trie la liste en fonction de la valeur du poids de chaque trigger de manière décroissante.
            this.triggerList.sort((a, b) => (a.weight > b.weight ? -1 : 1));
        },
        searchContainsKeyword(keywords, weight) {
            for (let keyword of keywords) {
                // Si l'entrée utilisateur contient un mot-clé, alors on augmente considérablement le poids du trigger.
                if (
                    this.searchValue
                        .toLowerCase()
                        .includes(keyword.toLowerCase())
                ) {
                    weight += 50;
                }
            }
            return weight;
        },
        compareSearchAndTrigger(trigger, weight) {
            // Si l'entrée utilisateur ne fait pas plus de deux mots et que le poids est toujours nul,
            // on compte le nombre de lettre correspondante au trigger.
            if (this.searchValue.split(" ").length < 2 && weight === 0) {
                for (let i in this.searchValue) {
                    trigger.includes(this.searchValue[i]) ? weight++ : false;
                }
            }
            // Cette ligne permet de transformer l'entrée utilisateur en une liste de mots.
            const wordArr = this.searchValue.trim().toLowerCase().split(" ");

            // La ligne suivante permet de transformer la phrase de trigger en une liste de mots.
            // Les mots qui ne font pas plus de 0 lettres sont enlevés pour éviter les bugs.
            // Le regex permet d'enlever les trigger et leur contenu, exemple: [$part].
            const triggArr = trigger
                .toLowerCase()
                .replace(/\[\$[^\]]+]/g, "")
                .split(" ")
                .filter((a) => a.length > 0);

            // Pour chaque mots de l'entrée utilisateur, si le mot est inclus dans la phrase du trigger,
            // alors on incrémente le poids de ce trigger pour chaque lettre correspondante.
            for (let word of wordArr) {
                if (triggArr.includes(word)) {
                    const index = triggArr.indexOf(word);
                    let i = 0;
                    while (i < word.length && i < triggArr[index].length) {
                        if (word.charAt(i) === triggArr[index].charAt(i)) {
                            weight++;
                        }
                        i++;
                    }
                }
            }
            return weight;
        },
    },
};
</script>

<style scoped lang="scss">
@import "TriggerList.style";
</style>
