<template>
    <v-app id="app">
        <Header />
        <v-container fluid class="main-container">
            <router-view class="router-view" />
            <SidePanel v-if="isUserConnected && displaySidePanel" />
        </v-container>
    </v-app>
</template>

<script>
import Header from "@/components/header/Header.component.vue";
import SidePanel from "@/components/sidepanel/SidePanel.component.vue";
import { mapGetters } from "vuex";

const routesForSidePanel = ["Home"];

export default {
    name: "App",
    components: { Header, SidePanel },
    computed: {
        ...mapGetters(["authentication", "user", "course"]),
        isUserConnected() {
            return this.authentication;
        },
        displaySidePanel() {
            if(this.user != null) {
              return routesForSidePanel.includes(this.$route.name);
            } else {
              return false;
            }
        },
    },
};
</script>

<style lang="scss">
@import "./styles/globals.scss";
</style>
