@use "../../styles/globals";
@use "../../styles/page";

.body {
    height: 100%;
    width: 100%;

    > div {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;

        .course--select--container {
            margin-top: 50px;
            margin-bottom: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .timeDivision--container {
            width: 60%;
            margin-bottom: 20px;
        }

        .triggerList--container {
            width: 60%;
        }

        .edition--container {
            width: 60%;
        }
    }

    .not-logged-in,
    .no-rights {
        display: flex;
        height: 100%;
        justify-content: center;
        align-items: center;
    }
}
