@use "globals";

.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 35px;

    &__title,
    &__body {
        width: 100%;
    }

    &__title {
        background-color: globals.$light_ua_blue;
        padding: 10px 20px;
        border: 2px solid globals.$ua_blue;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;

        h2 {
            font-size: 1.15em;
            text-align: left;
        }

        &--readOnly {
            background-color: globals.$darker-white;
            border-color: globals.$lightgrey;
        }
    }

    &__body {
        padding: 20px;
        border: 2px solid globals.$lightgrey;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        border-top: none;
    }
}
