$white: white;
$darker-white: #eee;
$black: #333;
$lightgrey: #dedede;
$ua_blue: #0bbbef;
$light_ua_blue: #82def9; //50% lighter than ua_blue
$red: #ff5454;
$light-red: rgba(255, 84, 84, 0.35);
$warning: #e8833a;

#app {
    font-family: "Open Sans", sans-serif;
    color: $black;

    .main-container {
        margin-top: 70px;
        padding: 0;
        display: flex;
    }

    .router-view {
        min-width: 0;
        width: 100%;
        flex-shrink: 1;
    }

    .container {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
