@use "globals";

.page {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;

    &__header,
    &__body {
        width: 60%;
    }

    &__header {
        margin-bottom: 20px;

        &__homeBtn {
            color: globals.$black;
            padding: 7px 15px;
            border: solid 1px globals.$ua_blue;
            border-radius: 5px;
            font-size: 1.3em;
            margin-bottom: 20px;

            &:hover {
                color: globals.$ua_blue;
            }

            i {
                margin-right: 5px;
                font-size: 1.2em;
            }
        }

        &__title {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 5px;

            h1 {
                font-size: 1.75em;
            }

            .title__icon {
                color: globals.$black;
                font-size: 1.75em;
                margin-right: 5px;
            }
        }
    }

    &__body {
        text-align: center;
    }
}
