@use "../../styles/globals";
@use "../../styles/page";
@use "../../styles/box";

.fields {
    display: grid;
    justify-content: center;
    align-items: baseline;
    grid-template-columns: 25% 25% 20%;
    grid-template-rows: auto;
    grid-column-gap: 30px;
    grid-template-areas:
        "username . ."
        "password confirmPassword validButton"
        ". displayMessage .";
}

.field-username {
    grid-area: username;
}

.field-password {
    grid-area: password;
}

.field-confirmPassword {
    grid-area: confirmPassword;
}

.validButton {
    grid-area: validButton;
    color: globals.$white !important;
    background-color: globals.$ua_blue !important;
    font-weight: bold;

    &:hover {
        color: globals.$black !important;
    }
}

.displayMessage {
    grid-area: displayMessage;
}

.displaySuccess {
    color: globals.$ua_blue;
}

.displayError {
    color: globals.$red;
}

.rightsTable {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
}

.rights {
    width: 90%;
    margin: 15px;
    border-collapse: collapse;

    thead {
        font-weight: bold;
    }

    td {
        padding: 10px 15px;
        border: 2px solid globals.$lightgrey;
    }
}
