@use "../../styles/globals.scss";

.side-panel--container {
    height: 100%;
    flex-shrink: 0;
    background-color: globals.$lightgrey;
    display: flex;
    transition: ease-in-out 0.3s;
    z-index: 2;
}

.side-panel--body {
    display: flex;
    gap: 10px;
    padding: 5px 10px;
    width: calc(100% - 50px);
}

.no-course-selected {
    background-color: globals.$darker-white;
    width: 100%;
    display: flex;
    text-align: center;
    align-items: center;

    h1 {
        width: 100%;
        margin: 0 auto;
        text-align: center;
        font-size: 1.3em;
    }
}

.side-panel--constraints,
.side-panel--visualizations {
    background-color: globals.$darker-white;
    width: 100%;
    max-height: 90vh;
    overflow-y: scroll;

    h1 {
        font-size: 1.6em;
        margin-top: 10px;
        text-align: center;
        font-weight: bolder;
        margin-bottom: 10px;
    }
}

.side-panel--constraints {
    width: 100%;
    background-color: globals.$darker-white;
    display: flex;
    flex-direction: column;

    h1 {
        font-size: 1.5em;
        font-weight: bolder;
        margin: 0;
        margin-top: 20px;
    }

    hr {
        color: globals.$ua_blue;
        width: 30%;
        margin: 20px auto;
    }

    .course--container {
        p {
            margin: 0;
            font-size: 1.1em;
            font-weight: bolder;
            color: globals.$ua_blue;
            text-align: center;
            letter-spacing: 0.02em;
        }
    }

    .allConstraints {
        margin-top: 20px;

        .constraint {
            gap: 10px;
            display: flex;
            padding: 10px;
            margin: 10px;
            flex-direction: row;
            border: 2px solid globals.$lightgrey;
            background-color: globals.$white;
            cursor: pointer;

            div {
                height: 100%;
                display: flex;
                align-items: center;
            }

            .edit-icon {
                color: globals.$ua_blue;
            }

            &:hover {
                background-color: globals.$light_ua_blue;
                border-color: globals.$white;
                font-weight: bold;

                .edit-icon {
                    color: globals.$black;
                    font-size: 2em;
                }
            }
        }
    }

    .no-constraint {
        margin-top: 50px;
        text-align: center;

        p {
            font-size: 1.35em;
            font-weight: bold;
        }
    }
}

.side-panel--visualizations {
    min-width: 65%;

    > div {
        height: 125%;
        margin: 20px;
        background-color: globals.$white;
        border: solid 5px globals.$light_ua_blue;
    }
}

.side-panel--buttons {
    min-width: 35px;
    max-width: 35px;
    height: 100%;
    background-color: globals.$light_ua_blue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

    .btn {
        border-radius: 50%;
        padding: 3px;
        background-color: globals.$light_ua_blue;
        color: globals.$black;
        font-size: 25px;

        &:hover {
            color: globals.$white;
            padding: 12px;
            font-size: 35px;
        }

        &--expand {
            &:hover {
                margin-right: 25px;
            }
        }

        &--shrink {
            &:hover {
                margin-left: 25px;
            }
        }
    }
}
