<template>
    <div class="side-panel--container" :style="{ width: currentWidth }">
        <div class="side-panel--buttons">
            <v-icon
                class="btn btn--expand"
                v-on:click="expand()"
                :style="{ display: hideExpand }"
            >
                mdi-arrow-collapse-left
            </v-icon>
            <v-icon
                class="btn btn--shrink"
                v-on:click="shrink()"
                :style="{ display: hideShrink }"
            >
                mdi-arrow-collapse-right
            </v-icon>
        </div>
        <div class="side-panel--body">
            <div v-if="this.course !== null" class="side-panel--constraints">
                <h1>{{ $t("SP_EXISTING_CONSTRAINTS") }}</h1>
                <hr />
                <div class="course--container">
                    <p>{{ this.formation }}</p>
                    <p>{{ this.course.name }}</p>
                </div>
                <div v-if="constraint_list.length === 0" class="no-constraint">
                    <p>{{ $t("SP_NO_CONSTRAINTS") }}</p>
                </div>
                <div v-else class="allConstraints">
                    <div
                        class="constraint"
                        v-bind:key="id"
                        v-for="(constraint, id) in getConstraintList"
                        v-on:click="editConstraint(constraint)"
                    >
                        <v-icon title="Modifier le voeu" class="edit-icon"
                            >mdi-pencil</v-icon
                        >

                        <div class="label">
                            {{ constraint.text.replace(/ \./g, ".") }}
                        </div>
                    </div>
                </div>
            </div>
            <div v-else class="no-course-selected">
                <h1>{{ $t("SP_NO_COURSE_SELECTED") }}</h1>
            </div>
            <div
                class="side-panel--visualizations"
                :style="{ display: hideVisualizations }"
            >
                <h1>{{ $t("SP_WISH_VISUALISATION") }}</h1>
                <div></div>
            </div>
        </div>
    </div>
</template>

<script>
import { mapGetters } from "vuex";
import { TRIGGER } from "@/store/actions.type";
import { constraints } from "@/components/constraints/Constraints.component";

const panelStates = {
    closed: "35px",
    open: "25%",
    wide: "100%",
};

export default {
    name: "SidePanel",
    data() {
        return {
            currentState: "open",
        };
    },
    computed: {
        ...mapGetters(["constraint_list", "formation", "course"]),
        currentWidth() {
            return panelStates[this.currentState];
        },
        hideExpand() {
            return this.currentState === "closed" ||
                (this.currentState !== "wide" &&
                    this.constraint_list.length > 0)
                ? "block"
                : "none";
        },
        hideShrink() {
            return this.currentState === "closed" ? "none" : "block";
        },
        hideVisualizations() {
            return this.currentState !== "wide" ? "none" : "block";
        },
        getConstraintList() {
            if (this.course != null && this.constraint_list != null) {
                return this.constraint_list;
            } else {
                return [];
            }
        },
    },
    created: function () {
        this.currentState = this.course !== null ? "open" : "closed";
    },
    watch: {
        "$store.state.course": function () {
            this.currentState = "open";
        },
    },
    methods: {
        expand() {
            if (this.currentState === "closed") {
                this.currentState = "open";
            } else if (this.currentState === "open") {
                this.currentState = "wide";
            }
        },
        shrink() {
            if (this.currentState === "wide") {
                this.currentState = "open";
            } else if (this.currentState === "open") {
                this.currentState = "closed";
            }
        },
        editConstraint(constraint) {
            const file = constraint.file;
            const req = constraint.request;
            const obj = {
                id: constraint.id,
                file: file,
                req: req,
                text: constraint.text,
                type: constraints["list"][file]["type"],
                trigger: constraints["list"][file]["triggers"][req],
                example: constraints["list"][file]["examples"][req],
                name: constraints["list"][file]["name"],
                isNew: false,
            };
            this.$store.dispatch(TRIGGER, {
                trigger: obj,
            });
            location.reload();
        },
    },
};
</script>

<style lang="scss" scoped>
@import "./SidePanel.style";
</style>
